@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Cuprum Regular"), local("Cuprum-Regular"), url("../fonts/cuprum.woff2") format("woff2"), local("Cuprum Regular"), local("Cuprum-Regular"), url("../fonts/cuprum.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Cuprum Italic"), local("Cuprum-Italic"), url("../fonts/cuprumitalic.woff2") format("woff2"), local("Cuprum Italic"), local("Cuprum-Italic"), url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Cuprum Bold"), local("Cuprum-Bold"), url("../fonts/cuprumbold.woff2") format("woff2"), local("Cuprum Bold"), local("Cuprum-Bold"), url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("PT Sans"), local("PTSans-Regular"), url("../fonts/ptsans.woff2") format("woff2"), local("PT Sans"), local("PTSans-Regular"), url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url("../fonts/ptsansbold.woff2") format("woff2"), local("PT Sans Bold"), local("PTSans-Bold"), url("../fonts/ptsansbold.woff") format("woff");
}

.body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  color: #000;
  background-color: #fff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container-centering {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: inline-block;
  padding: 10px 40px;
  border-radius: 2px;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #ee3643;
  border: none;
}

.user-controls {
  color: #fff;
  background-color: #293449;
}

.user-controls__container {
  min-height: 42px;
  display: flex;
}

.user-controls__logo {
  padding: 12px 0;
  margin-bottom: -5px;
  min-width: 220px;
  text-align: center;
  color: #fff;
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.user-controls__logo:active {
  background-color: #ba2732;
}

.user-controls__search-form {
  display: flex;
  flex-grow: 1;
}

.user-controls__search-form:hover g,
.user-controls__search-form:focus g {
  opacity: 1;
}

.user-controls__search-form:focus-within {
  background-color: #ffffff;
}

.user-controls__search-form:focus-within path {
  fill: #ee3643;
}

.user-controls__search-form:focus-within g {
  opacity: 1;
}

.user-controls__search-form:focus-within > .user-controls__search-input {
  color: #000;
}

.user-controls__search-btn {
  width: 28px;
  margin-left: 10px;
  margin-right: 2px;
  padding-top: 4px;
  background-color: inherit;
  border: none;
}

.user-controls__search-input {
  flex-grow: 1;
  font-family: "Cuprum", "Tahoma", sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  background-color: inherit;
  border: none;
}

.user-controls__search-input::-webkit-input-placeholder {
  color: #ffffff;
}

.user-controls__search-input::-moz-placeholder {
  color: #ffffff;
}

.user-controls__search-input:-ms-input-placeholder {
  color: #ffffff;
}

.user-controls__search-input::-ms-input-placeholder {
  color: #ffffff;
}

.user-controls__search-input::placeholder {
  color: #ffffff;
}

.user-controls__bookmarks {
  margin-left: auto;
}

.btn-uc {
  position: relative;
  min-width: 150px;
  padding: 9px 0;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.btn-uc:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #161D29;
}

.btn-uc--bookmark, .btn-uc--basket {
  padding-left: 20px;
}

.btn-uc--bookmark:hover::before, .btn-uc--bookmark:focus::before, .btn-uc--basket:hover::before, .btn-uc--basket:focus::before {
  opacity: 1.0;
}

.btn-uc--bookmark:active::before, .btn-uc--basket:active::before {
  opacity: 0.3;
}

.btn-uc--bookmark::before {
  position: absolute;
  content: url("../img/user-controls__icon-bookmark.svg");
  top: 12px;
  left: 20px;
  opacity: 0.3;
}

.btn-uc--basket::before {
  position: absolute;
  content: url("../img/user-controls__icon-basket.svg");
  top: 11px;
  left: 26px;
  opacity: 0.3;
}

.btn-uc--buy {
  background-color: #63A63E;
}

.btn-uc--buy:hover, .btn-uc--buy:focus {
  background-color: #5FBB2D;
}

.btn-uc--buy:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #63A63E;
}

.header {
  color: #000;
  background-color: #f3f7f8;
}

.header__container {
  display: flex;
}

.header__title {
  width: 200px;
  margin: 0;
  margin-right: 60px;
  padding: 45px 30px 44px 30px;
  color: #ee3643;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}

.header__container-phone-address {
  width: 270px;
  margin-top: 46px;
  margin-right: 10px;
}

.header__phone {
  position: relative;
  display: block;
  border: 3px solid #FFF;
  margin-bottom: 3px;
  padding-left: 30px;
  box-sizing: border-box;
  color: #EE3643;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 39px;
  text-align: center;
  text-decoration: none;
}

.header__phone::before {
  position: absolute;
  content: url("../img/user-controls__icon-phone.svg");
  top: 3px;
  left: 36px;
}

.header__address {
  color: #32425C;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.header__user-nav {
  margin-top: 46px;
}

.user-nav {
  margin-left: auto;
}

.user-nav__controls--hidden {
  display: none;
}

.user-nav__not-logged-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-nav__login {
  margin-right: 10px;
}

.user-nav__logged-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  list-style: none;
}

.btn-un {
  position: relative;
  display: block;
  min-height: 45px;
  padding: 12px 10px;
  box-sizing: border-box;
  color: #000;
  font-family: "Cuprum", "Tahoma", sans-serif;
  text-decoration: none;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  background-color: #fff;
}

.btn-un:hover, .btn-un:focus {
  color: #EE3643;
}

.btn-un:active {
  color: #C5C5C5;
}

.btn-un--login {
  min-width: 121px;
  padding-left: 28px;
}

.btn-un--login::before {
  position: absolute;
  content: url("../img/user-nav__icon-login.svg");
  top: 13px;
  left: 19px;
}

.btn-un--login:hover::before, .btn-un--login:focus::before {
  content: url("../img/user-nav__icon-login--hover.svg");
}

.btn-un--login:active::before {
  content: url("../img/user-nav__icon-login.svg");
}

.btn-un--register {
  min-width: 150px;
}

.btn-un--profile {
  min-width: 300px;
  padding-left: 11px;
}

.btn-un--profile:hover, .btn-un--profile:focus {
  color: #000;
}

.btn-un--profile:active {
  color: #C5C5C5;
}

.btn-un--profile::before {
  position: absolute;
  content: url("../img/user-nav__icon-user.svg");
  top: 13px;
  left: 16px;
}

.btn-un--profile:hover::before, .btn-un--profile:focus::before {
  content: url("../img/user-nav__icon-user--hover.svg");
}

.btn-un--profile:active::before {
  content: url("../img/user-nav__icon-user.svg");
}

.btn-un--profile::after {
  position: absolute;
  content: url("../img/user-nav__icon-logout.svg");
  top: 14px;
  right: 17px;
}

.btn-un--profile:hover::after, .btn-un--profile:focus::after {
  content: url("../img/user-nav__icon-logout--hover.svg");
}

.btn-un--profile:active::after {
  content: url("../img/user-nav__icon-logout.svg");
}

.site-nav {
  padding-bottom: 60px;
}

.site-nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 24px;
  padding-right: 19px;
  background-color: #32425c;
  box-shadow: inset 0px -5px 0px #293449;
  list-style: none;
}

.site-nav__item {
  flex-grow: 1;
  text-align: center;
}

.site-nav__link {
  display: block;
  padding-top: 17px;
  padding-bottom: 19px;
  color: #ffffff;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

.site-nav__link:hover, .site-nav__link:focus {
  background-color: #293449;
}

.site-nav__link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1D2739;
}

.link-un {
  position: relative;
  display: block;
  padding: 7px 0;
  box-sizing: border-box;
  color: #32425C;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

.link-un:hover, .link-un:focus {
  color: #EE3643;
}

.link-un:active {
  color: #C5C5C5;
}

.link-un--circle {
  margin-right: 33px;
}

.link-un--circle::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  top: 14px;
  right: -19px;
  border-radius: 50%;
  background-color: #32425C;
  pointer-events: none;
  cursor: default;
}

.features {
  padding-top: 59px;
}

.features__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  margin-right: -30px;
  padding: 0;
  list-style: none;
}

.features__item-cart {
  margin-bottom: 20px;
  margin-right: 20px;
}

.features__column {
  margin: 0;
  padding: 0;
  order: 1;
  list-style: none;
}

.features__slider {
  margin-right: 20px;
  margin-bottom: 100px;
}

.features__slider-and-carts {
  display: flex;
}

.promo-cart {
  position: relative;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 23px;
  padding-right: 21px;
  width: 300px;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #32425c;
}

.promo-cart--new::after {
  position: absolute;
  content: url("../img/common__flag-new.svg");
  right: 0;
  top: 0;
}

.promo-cart--materials {
  background: #ffbf47 url("../img/promo-cart--materials.svg") no-repeat;
  background-position: 213px 31px;
}

.promo-cart--instrument {
  background: #3bbce3 url("../img/promo-cart--instrument.svg") no-repeat;
  background-position: 194px 34px;
}

.promo-cart--technics {
  background: #dc91d8 url("../img/promo-cart--technics.svg") no-repeat;
  background-position: 191px 31px;
}

.promo-cart--discount {
  background: #8ed78f url("../img/promo-cart--discount.svg") no-repeat;
  background-position: 196px 26px;
}

.promo-cart--delivery {
  background: #ffc047 url("../img/promo-cart--delivery.svg") no-repeat;
  background-position: 191px 32px;
}

.promo-cart__title {
  margin: 0;
  padding: 0;
  padding-bottom: 13px;
  color: #ffffff;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.promo-cart__link {
  display: block;
  box-sizing: border-box;
  padding: 10px 0;
  max-width: 135px;
  color: #ffffff;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
}

.promo-cart__link:hover, .promo-cart__link:focus {
  background-color: rgba(196, 196, 196, 0.3);
}

.promo-cart__link:active {
  background-color: rgba(168, 168, 168, 0.3);
}

.promo-sliders {
  position: relative;
  width: 620px;
}

.promo-sliders__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo-sliders__btn-prev,
.promo-sliders__btn-next {
  position: absolute;
  top: 112px;
  padding: 0;
  width: 42px;
  height: 60px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.promo-sliders__btn-prev {
  left: 15px;
  background-image: url("../img/promo-sliders__icon-left.svg");
}

.promo-sliders__btn-next {
  right: 11px;
  background-image: url("../img/promo-sliders__icon-right.svg");
}

.promo-sliders__knobs {
  position: absolute;
  left: 50%;
  bottom: 30px;
  display: flex;
  line-height: 0;
  transform: translateX(-50%);
}

.promo-sliders__knob {
  position: relative;
  width: 10px;
  height: 10px;
  padding: 6px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.promo-sliders__knob::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}

.promo-sliders__input:checked + .promo-sliders__knob::after {
  position: absolute;
  content: "";
  top: calc(50% - 3px);
  left: calc(50% - 3px);
  width: 6px;
  height: 6px;
  background-color: #ee3643;
  border-radius: 50%;
}

.promo-sliders__input:focus + .promo-sliders__knob {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.promo-slider {
  min-width: 620px;
  min-height: 266px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 24px;
  padding-right: 23px;
  width: 300px;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #32425c;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 105px, rgba(255, 255, 255, 0) 105px);
}

.promo-slider--drills {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 105px, rgba(255, 255, 255, 0) 105px), url("../img/features__drills.jpg");
}

.promo-slider--perforators {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 105px, rgba(255, 255, 255, 0) 105px), url("../img/features__perforators.jpg");
}

.promo-slider--hidden {
  display: none;
}

.promo-slider__title {
  margin: 0;
  padding: 0;
  padding-bottom: 6px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-style: normal;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.promo-slider__desc {
  margin: 0;
  padding: 0;
  padding-bottom: 112px;
  color: #ffffff;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.promo-slider__btn {
  width: 192px;
}
