@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Cuprum Regular"), local("Cuprum-Regular"), url("../fonts/cuprum.woff2") format("woff2"), local("Cuprum Regular"), local("Cuprum-Regular"), url("../fonts/cuprum.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Cuprum Italic"), local("Cuprum-Italic"), url("../fonts/cuprumitalic.woff2") format("woff2"), local("Cuprum Italic"), local("Cuprum-Italic"), url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Cuprum Bold"), local("Cuprum-Bold"), url("../fonts/cuprumbold.woff2") format("woff2"), local("Cuprum Bold"), local("Cuprum-Bold"), url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("PT Sans"), local("PTSans-Regular"), url("../fonts/ptsans.woff2") format("woff2"), local("PT Sans"), local("PTSans-Regular"), url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url("../fonts/ptsansbold.woff2") format("woff2"), local("PT Sans Bold"), local("PTSans-Bold"), url("../fonts/ptsansbold.woff") format("woff");
}

.body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container-centering {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #ee3643;
  border: none;
}

.btn:hover, .btn:focus {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.btn--bookmark {
  display: block;
  padding: 7px;
  width: 135px;
  border: 3px solid #63A63E;
  border-radius: 2px;
  color: #32425C;
  background-color: transparent;
}

.btn--bookmark:hover, .btn--bookmark:focus {
  border: 3px solid #32425c;
  background-color: transparent;
}

.btn--bookmark:active {
  opacity: 0.5;
  background-color: transparent;
}

.btn--buy {
  position: relative;
  display: block;
  padding: 10px;
  padding-left: 20px;
  width: 135px;
  border-radius: 2px;
  box-shadow: inset 0px -3px 0px #367315;
  background-color: #63A63E;
}

.btn--buy:hover, .btn--buy:focus {
  background-color: #5fbb2d;
}

.btn--buy:active {
  background-color: #518534;
  box-shadow: none;
}

.btn--buy::before {
  position: absolute;
  content: url("../img/common__icon-basket.svg");
  top: 10px;
  left: 29px;
  opacity: 0.3;
}

.btn--price {
  width: 141px;
  padding-left: 0px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  background-color: transparent;
  background-image: url("../img/common__red-button.svg");
}

.btn--price:hover, .btn--price:focus {
  background-color: transparent;
}

.btn--price:active {
  background-color: transparent;
}

.btn--services {
  padding: 19px 22px 21px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-transform: none;
  text-align: start;
  background-color: #32425c;
  box-shadow: inset 0 1px 0 #293449, inset 0 2px 0 #405069;
}

.btn--services:hover, .btn--services:focus {
  color: #ffffff;
  background-color: #293449;
}

.btn--services:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.btn--services--active {
  color: #32425c;
  background-color: #ffffff;
  box-shadow: none;
}

.btn--services--active:hover, .btn--services--active:focus {
  color: #32425c;
  background-color: #ffffff;
}

.btn-logo {
  display: inline-block;
  padding: 12px 0;
  min-width: 220px;
  text-align: center;
  color: #fff;
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.btn-logo:hover, .btn-logo:focus {
  background-color: #ca2c37;
}

.btn-logo:active {
  background-color: #ba2732;
}

.user-controls {
  background-color: #293449;
}

.user-controls__container {
  min-height: 42px;
  display: flex;
}

.user-controls__logo {
  margin-bottom: -5px;
}

.user-controls__search-form {
  display: flex;
  flex-grow: 1;
}

.user-controls__search-form:hover, .user-controls__search-form:focus {
  background-color: #212a3a;
}

.user-controls__search-form:hover .user-controls__search-btn,
.user-controls__search-form:focus .user-controls__search-btn {
  color: white;
}

.user-controls__search-form:focus-within {
  background-color: #ffffff;
}

.user-controls__search-form:focus-within > .user-controls__search-btn {
  color: #ee3643;
}

.user-controls__search-form:focus-within > .user-controls__search-input {
  color: #000;
}

.user-controls__search-btn {
  width: 28px;
  margin-left: 10px;
  margin-right: 2px;
  padding-top: 4px;
  color: rgba(255, 255, 255, 0.3);
  background-color: inherit;
  border: none;
}

.user-controls__search-input {
  flex-grow: 1;
  font-family: "Cuprum", "Tahoma", sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  background-color: inherit;
  border: none;
}

.user-controls__search-input::-webkit-input-placeholder {
  color: #ffffff;
}

.user-controls__search-input::-moz-placeholder {
  color: #ffffff;
}

.user-controls__search-input:-ms-input-placeholder {
  color: #ffffff;
}

.user-controls__search-input::-ms-input-placeholder {
  color: #ffffff;
}

.user-controls__search-input::placeholder {
  color: #ffffff;
}

.user-controls__bookmarks {
  margin-left: auto;
}

.btn-uc {
  position: relative;
  min-width: 150px;
  padding: 9px 0;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.btn-uc:hover, .btn-uc:focus {
  background-color: #212a3a;
}

.btn-uc:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #161D29;
}

.btn-uc--with-icon {
  padding-left: 20px;
}

.btn-uc--with-icon:hover .btn-uc__icon, .btn-uc--with-icon:focus .btn-uc__icon {
  color: white;
}

.btn-uc--with-icon:active .btn-uc__icon {
  color: rgba(255, 255, 255, 0.3);
}

.btn-uc--buy {
  background-color: #63A63E;
}

.btn-uc--buy:hover, .btn-uc--buy:focus {
  background-color: #5FBB2D;
}

.btn-uc--buy:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #63A63E;
}

.btn-uc__icon {
  position: absolute;
  color: rgba(255, 255, 255, 0.3);
}

.btn-uc__icon--bookmark {
  top: 12px;
  left: 20px;
}

.btn-uc__icon--basket {
  top: 12px;
  left: 26px;
}

.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 28px;
  padding-right: 14px;
  background-color: #f9f5f0;
}

.title-bar__title {
  margin: 0;
  color: #32425c;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.title-bar__button {
  width: 192px;
  padding-left: 0;
  padding-right: 0;
}

.header {
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-weight: 400;
  background-color: #f3f7f8;
}

.header__container {
  display: flex;
}

.header__title {
  width: 200px;
  margin: 0;
  margin-right: 60px;
  padding: 45px 30px 44px 30px;
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
}

.header__container-phone-address {
  width: 270px;
  margin-top: 46px;
  margin-right: 10px;
}

.header__phone {
  position: relative;
  display: block;
  border: 3px solid #ffffff;
  margin-bottom: 3px;
  padding-left: 30px;
  box-sizing: border-box;
  color: #ee3643;
  font-size: 21px;
  line-height: 39px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.header__phone::before {
  position: absolute;
  content: url("../img/user-controls__icon-phone.svg");
  top: 3px;
  left: 36px;
}

.header__address {
  color: #32425c;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.header__user-nav {
  margin-top: 46px;
}

.user-nav {
  margin-left: auto;
}

.user-nav__controls--hidden {
  display: none;
}

.user-nav__not-logged-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-nav__login {
  margin-right: 10px;
}

.user-nav__logged-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  list-style: none;
}

.btn-un {
  position: relative;
  display: block;
  min-height: 45px;
  padding: 12px 10px;
  box-sizing: border-box;
  color: #000;
  font-family: "Cuprum", "Tahoma", sans-serif;
  text-decoration: none;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  background-color: #fff;
}

.btn-un:hover, .btn-un:focus {
  color: #EE3643;
}

.btn-un:active {
  color: #C5C5C5;
}

.btn-un--login {
  min-width: 121px;
  padding-left: 28px;
}

.btn-un--login::before {
  position: absolute;
  content: url("../img/user-nav__icon-login.svg");
  top: 13px;
  left: 19px;
}

.btn-un--login:hover::before, .btn-un--login:focus::before {
  content: url("../img/user-nav__icon-login--hover.svg");
}

.btn-un--login:active::before {
  content: url("../img/user-nav__icon-login.svg");
}

.btn-un--register {
  min-width: 150px;
}

.btn-un--profile {
  min-width: 300px;
  padding-left: 11px;
}

.btn-un--profile:hover, .btn-un--profile:focus {
  color: #000;
}

.btn-un--profile:active {
  color: #C5C5C5;
}

.btn-un--profile::before {
  position: absolute;
  content: url("../img/user-nav__icon-user.svg");
  top: 13px;
  left: 16px;
}

.btn-un--profile:hover::before, .btn-un--profile:focus::before {
  content: url("../img/user-nav__icon-user--hover.svg");
}

.btn-un--profile:active::before {
  content: url("../img/user-nav__icon-user.svg");
}

.btn-un--profile::after {
  position: absolute;
  content: url("../img/user-nav__icon-logout.svg");
  top: 14px;
  right: 17px;
}

.btn-un--profile:hover::after, .btn-un--profile:focus::after {
  content: url("../img/user-nav__icon-logout--hover.svg");
}

.btn-un--profile:active::after {
  content: url("../img/user-nav__icon-logout.svg");
}

.site-nav {
  padding-bottom: 60px;
}

.site-nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 24px;
  padding-right: 19px;
  background-color: #32425c;
  box-shadow: inset 0px -5px 0px #293449;
  list-style: none;
}

.site-nav__item {
  flex-grow: 1;
  text-align: center;
}

.site-nav__link {
  display: block;
  padding-top: 17px;
  padding-bottom: 19px;
  color: #ffffff;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

.site-nav__link:hover:not(.site-nav__link--active), .site-nav__link:focus:not(.site-nav__link--active) {
  background-color: #293449;
}

.site-nav__link:active:not(.site-nav__link--active) {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1D2739;
}

.link-un {
  position: relative;
  display: block;
  padding: 7px 0;
  box-sizing: border-box;
  color: #32425C;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

.link-un:hover, .link-un:focus {
  color: #EE3643;
}

.link-un:active {
  color: #C5C5C5;
}

.link-un--circle {
  margin-right: 33px;
}

.link-un--circle::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  top: 14px;
  right: -19px;
  border-radius: 50%;
  background-color: #32425C;
  pointer-events: none;
  cursor: default;
}

.features {
  padding-top: 59px;
  padding-bottom: 39px;
}

.features__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  margin-right: -30px;
  padding: 0;
  list-style: none;
}

.features__item-cart {
  margin-bottom: 20px;
  margin-right: 20px;
}

.features__column {
  margin: 0;
  padding: 0;
  order: 1;
  list-style: none;
}

.features__slider {
  margin-right: 20px;
}

.features__slider-and-carts {
  display: flex;
}

.promo-cart {
  position: relative;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 23px;
  padding-right: 21px;
  width: 300px;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #32425c;
}

.promo-cart--new::after {
  position: absolute;
  content: url("../img/common__flag-new.svg");
  right: 0;
  top: 0;
}

.promo-cart--materials {
  background: #ffbf47 url("../img/promo-cart--materials.svg") no-repeat;
  background-position: 213px 31px;
}

.promo-cart--instrument {
  background: #3bbce3 url("../img/promo-cart--instrument.svg") no-repeat;
  background-position: 194px 34px;
}

.promo-cart--technics {
  background: #dc91d8 url("../img/promo-cart--technics.svg") no-repeat;
  background-position: 191px 31px;
}

.promo-cart--discount {
  background: #8ed78f url("../img/promo-cart--discount.svg") no-repeat;
  background-position: 196px 26px;
}

.promo-cart--delivery {
  background: #ffc047 url("../img/promo-cart--delivery.svg") no-repeat;
  background-position: 191px 32px;
}

.promo-cart__title {
  margin: 0;
  padding: 0;
  padding-bottom: 13px;
  color: #ffffff;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.promo-cart__link {
  display: block;
  box-sizing: border-box;
  padding: 10px 0;
  max-width: 135px;
  color: #ffffff;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
}

.promo-cart__link:hover, .promo-cart__link:focus {
  background-color: rgba(196, 196, 196, 0.3);
}

.promo-cart__link:active {
  background-color: rgba(168, 168, 168, 0.3);
}

.promo-sliders {
  position: relative;
  width: 620px;
}

.promo-sliders__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo-sliders__btn-prev,
.promo-sliders__btn-next {
  position: absolute;
  top: 112px;
  padding: 0;
  width: 42px;
  height: 60px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.promo-sliders__btn-prev {
  left: 15px;
  background-image: url("../img/promo-sliders__icon-left.svg");
}

.promo-sliders__btn-next {
  right: 11px;
  background-image: url("../img/promo-sliders__icon-right.svg");
}

.promo-sliders__knobs {
  position: absolute;
  left: 50%;
  top: 214px;
  display: flex;
  line-height: 0;
  transform: translateX(-50%);
}

.promo-sliders__knob {
  position: relative;
  width: 10px;
  height: 10px;
  padding: 6px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.promo-sliders__knob::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}

.promo-sliders__input:checked + .promo-sliders__knob::after {
  position: absolute;
  content: "";
  top: calc(50% - 3px);
  left: calc(50% - 3px);
  width: 6px;
  height: 6px;
  background-color: #ee3643;
  border-radius: 50%;
}

.promo-sliders__input:focus + .promo-sliders__knob {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.promo-slider {
  min-width: 620px;
  min-height: 266px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 24px;
  padding-right: 23px;
  width: 300px;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #32425c;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 105px, rgba(255, 255, 255, 0) 105px);
}

.promo-slider--drills {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 105px, rgba(255, 255, 255, 0) 105px), url("../img/features__drills.jpg");
}

.promo-slider--perforators {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 105px, rgba(255, 255, 255, 0) 105px), url("../img/features__perforators.jpg");
}

.promo-slider--hidden {
  display: none;
}

.promo-slider__title {
  margin: 0;
  padding: 0;
  padding-bottom: 6px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-style: normal;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.promo-slider__desc {
  margin: 0;
  padding: 0;
  padding-bottom: 112px;
  color: #ffffff;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.promo-slider__btn {
  width: 192px;
}

.popular {
  padding-bottom: 50px;
}

.popular__title {
  margin-bottom: 19px;
}

.popular__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: -20px;
  padding: 0;
  list-style: none;
}

.popular__item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.product {
  position: relative;
  width: 220px;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  padding-bottom: 20px;
  text-align: center;
  background-color: #ffffff;
}

.product--new::before {
  position: absolute;
  content: url("../img/common__flag-new.svg");
  right: 0;
  top: 0;
}

.product:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.product:hover .product__img {
  display: none;
}

.product:hover .product__btn-buy {
  display: block;
}

.product:hover .product__btn-bookmark {
  display: block;
}

.product__img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 174px;
  padding-bottom: 5px;
  overflow: hidden;
}

.product__btn-buy {
  display: none;
  margin-bottom: 10px;
}

.product__btn-bookmark {
  display: none;
  margin-bottom: 14px;
}

.product__title {
  margin: 0;
  padding: 0 30px;
  padding-bottom: 7px;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.product__price-previous {
  margin: 0;
  min-height: 18px;
  padding-bottom: 14px;
  color: #a9a9a9;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
}

.product__price-current {
  margin-left: 13px;
}

.brands {
  padding-bottom: 50px;
}

.brands__title {
  margin-bottom: 19px;
  padding-right: 19px;
}

.brands__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: -20px;
  padding: 0;
  list-style: none;
}

.brands__item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.brands__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
}

.brands__link:hover, .brands__link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.brands__link:active {
  opacity: 0.5;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.services {
  padding-top: 65px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-weight: 400;
  overflow: hidden;
  background-color: #f3f7f8;
}

.services__title {
  margin: 0;
  padding-bottom: 25px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: -0.8px;
}

.services__desc {
  margin: 0;
  max-width: 400px;
  padding-bottom: 71px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services__container {
  display: flex;
  min-height: 283px;
}

.services__buttons {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 240px;
  margin-right: 80px;
}

.services__buttons::after {
  position: absolute;
  content: url("../img/services__buttons-shadow.png");
  right: 0;
  top: -42px;
}

.services__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services__item {
  position: relative;
  width: 350px;
  display: none;
}

.services__item--visible {
  display: block;
}

.services__item--delivery::before {
  position: absolute;
  content: url("../img/services__delivery.png");
  left: 151px;
  top: 20px;
}

.services__item--guarantee::before {
  position: absolute;
  content: url("../img/services__guarantee.png");
  left: 239px;
  top: 2px;
}

.services__item--credit::before {
  position: absolute;
  content: url("../img/services__credit.png");
  left: 165px;
  top: 0px;
}

.services__item-title {
  position: relative;
  margin: 0;
  margin-top: -2px;
  padding-bottom: 27px;
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: -0.8px;
}

.services__item-desc {
  position: relative;
  margin: 0;
  padding-bottom: 20px;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 25px;
}

.services__btn-credit {
  margin-top: 7px;
  width: 195px;
}

.about {
  width: 460px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-weight: 400;
}

.about__transport-companies {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  list-style: none;
}

.about__transport-company {
  position: relative;
  padding-left: 37px;
  padding-bottom: 16px;
  font-size: 18px;
  line-height: 20px;
}

.about__transport-company::before {
  position: absolute;
  content: "";
  top: 9px;
  left: 0;
  width: 25px;
  border-top: 2px solid #ee3643;
}

.about__btn-details {
  min-width: 220px;
}

.about-contacts {
  display: flex;
  justify-content: space-between;
  padding-top: 71px;
  padding-bottom: 70px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-weight: 400;
}

.about-contacts__title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-contacts__desc {
  margin: 0;
  padding-top: 23px;
  padding-bottom: 4px;
  font-size: 14px;
  letter-spacing: 0.22px;
  line-height: 24px;
}

.contacts {
  max-width: 300px;
}

.contacts__map-link {
  display: block;
  margin-top: 29px;
  margin-bottom: 21px;
}

.contacts__btn-writeus {
  display: block;
}

.footer-nav {
  padding-bottom: 54px;
  color: #ffffff;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background-color: #32425C;
}

.footer-nav__container {
  display: flex;
  justify-content: space-between;
}

.footer-nav__logo-address {
  width: 350px;
}

.footer-nav__site-store {
  width: 547px;
}

.footer-nav__logo {
  margin-bottom: 23px;
  padding-top: 20px;
  padding-bottom: 18px;
}

.footer-nav__address {
  font-style: normal;
  padding-left: 3px;
}

.footer-nav__site-nav {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 32px;
  padding: 0;
  list-style: none;
}

.footer-nav__store-nav {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 22px;
  margin-left: 23px;
  padding: 0;
  list-style: none;
}

.footer-nav__lnk {
  display: block;
  padding: 6px 0;
  color: #F1F5F7;
  text-decoration: none;
}

.footer-nav__lnk:hover, .footer-nav__lnk:focus {
  text-decoration: underline;
}

.footer-nav__lnk:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-nav__lnk--store {
  color: #ffd180;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  line-height: 0;
  list-style: none;
}

.social-list__link {
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  color: white;
  background-color: #212a3a;
  background-repeat: no-repeat;
  text-decoration: none;
}

.social-list__link:hover, .social-list__link:focus, .social-list__link:active {
  background-color: #ee3643;
}

.social-list__link--vkontakte {
  background-image: url("../img/footer-contacts__vk-icon.svg");
  background-position: 8px 13px;
}

.social-list__link--facebook {
  background-image: url("../img/footer-contacts__fb-icon.svg");
  background-position: 15px 10px;
}

.social-list__link--instagram {
  background-image: url("../img/footer-contacts__insta-icon.svg");
  background-position: 10px 10px;
}

.footer-contacts {
  padding-top: 36px;
  padding-bottom: 29px;
  color: #ffffff;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-weight: 400;
  background-color: #293449;
}

.footer-contacts__container {
  display: flex;
}

.footer-contacts__copyright {
  margin: 0;
  margin-right: 90px;
  width: 300px;
  font-size: 16px;
  line-height: 18px;
}

.footer-contacts__socials {
  width: 132px;
  margin: 0;
  margin-right: 119px;
  margin-top: -1px;
}

.footer-contacts__email {
  width: 150px;
  margin: 0;
  margin-right: auto;
}

.footer-contacts__developed {
  width: 111px;
  margin: 0;
}

.footer-contacts__link {
  display: block;
  color: #ffd180;
  text-decoration: none;
}

.footer-contacts__link:hover, .footer-contacts__link:focus {
  text-decoration: underline;
}

.footer-contacts__link:active {
  color: #ee3643;
  text-decoration: none;
}

.modal-map {
  display: none;
}

.modal-writeus {
  display: none;
}

.modal-basket {
  display: none;
}
