:root {
  --color-black-01: #000000;
  --color-black-a-01: rgba(0, 0, 0, 0);
  --color-black-a-02: rgba(0, 0, 0, 0.15);
  --color-black-a-03: rgba(0, 0, 0, 0.25);
  --color-black-a-04: rgba(0, 0, 0, 0.5);

  --color-white-01: #ffffff;
  --color-white-02: #f9f5f0;
  --color-white-03: #f3f7f8;
  --color-white-04: #f1f5f7;
  --color-white-05: #c5c5c5;
  --color-white-06: #a9a9a9;
  --color-white-07: #f1f1f1;
  --color-white-a-01: rgba(255, 255, 255, 1.0);
  --color-white-a-02: rgba(255, 255, 255, 0.5);
  --color-white-a-03: rgba(255, 255, 255, 0.3);
  --color-white-a-04: hsla(0, 0%, 100%, 0.3);
  --color-white-a-05: hsla(0, 0%, 77%, 0.3);
  --color-white-a-06: hsla(0, 0%, 66%, 0.3);

  --color-red-01: #ee3643;
  --color-red-02: #ca2c37;
  --color-red-03: #ba2732;
  --color-red-04: #b52933;

  --color-green-01: #8ed78f;
  --color-green-02: #63a63e;
  --color-green-03: #5fbb2d;
  --color-green-04: #518534;
  --color-green-05: #367315;

  --color-blue-01: #3bbce3;
  --color-blue-02: #405069;
  --color-blue-03: #32425c;
  --color-blue-04: #293449;
  --color-blue-05: #212a3a;
  --color-blue-06: #1d2739;
  --color-blue-07: #161d29;
  --color-blue-08: #3d546f;

  --color-yellow-01: #ffd180;
  --color-yellow-02: #ffc047;
  --color-yellow-03: #ffbf47;

  --color-purple-01: #dc91d8;
}

img {
  max-width: 100%;
  height: auto;
}
