.btn-pagination {
  display: inline-block;

  padding: 9px;
  margin-right: 10px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid var(--color-white-08);

  color: var(--color-black-01);
  font-family: $ptsans;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;

  background: var(--color-white-01);

  &:hover:not(&--active),
  &:focus:not(&--active) {
    border-color: var(--color-white-05);
  }

  &:active:not(&--active) {
    border-color: var(--color-red-01);
  }

  &--active {
    border: 1px solid var(--color-red-01);

    color: var(--color-white-01);
    background-color: var(--color-red-01);
  }

  &--width--38 {
    min-width: 38px;
  }

  &--width--140 {
    min-width: 140px;
  }
}
