.filter {
  font-family: $ptsans;
}

.filter__fieldset {
  margin: 0;
  margin-top: 13px;
  padding: 0;
  border: none;
  border-bottom: 1px solid var(--color-white-08);

  &--bottom-borderless {
    border-bottom: none;
  }

  &--manufacturer {
    margin-top: 15px;
  }

  &--manufacturer {
    margin-top: 15px;
  }

  &--power-type {
    margin-top: 17px;
  }
}

.filter__title {
  margin: 0;
  margin-bottom: 12px;

  color: var(--color-black-01);
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 30px;

  &--manufacturer {
    margin-bottom: 18px;
  }

  &--power-type {
    margin-bottom: 23px;
  }
}

.filter__price {
  margin-bottom: 25px;
}

.filter__list {
  margin: 0;
  padding: 0;

  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;

  list-style: none;

  &--manufacturer {
    margin-bottom: 8px;
  }

  &--power-type {
    margin-bottom: 15px;
  }
}

.filter__checkbox {
  margin-bottom: 18px;
}

.filter__radio {
  margin-bottom: 18px;
}

.filter__button {
  display: block;

  padding: 9px;
  width: 100%;
  border: 1px solid var(--color-white-08);

  color: var(--color-black-01);
  font-family: $ptsans;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  background: var(--color-white-01);

  &:hover,
  &:focus {
    border-color: var(--color-white-05);
  }

  &:active {
    border-color: var(--color-red-01);
  }
}
