.modal-window {
  position: relative;

  border-top: 7px solid var(--color-red-01);
  box-sizing: border-box;

  background-color: var(--color-white-01);
  box-shadow: 0px 4px 20px var(--color-black-a-02);
}

.modal-window__close {
  position: absolute;
  top: 4px;
  right: 4px;

  display: block;
  padding: 0;
  border: none;
  width: 35px;
  height: 35px;

  background: url("../img/modal__icon-close.svg") no-repeat center;
  cursor: pointer;
}

.modal-window__buttons {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 38px 20px;

  background-color: var(--color-white-07);
}
