.popular {
  margin-bottom: 70px;
}

.popular__title {
  margin-bottom: 20px;
}

.popular__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 0;
  padding: 0;

  list-style: none;
}
