.promo-cart {
  position: relative;

  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 23px;
  padding-right: 21px;
  min-width: 300px;
  box-sizing: border-box;

  color: var(--color-white-01);

  background-color: var(--color-yellow-03);
  background-repeat: no-repeat;

  &--new::after {
    position: absolute;
    content: url("../img/common__flag-new.svg");
    right: 0;
    top: 0;
  }

  &--materials {
    background-color: var(--color-yellow-03);
    background-image: url("../img/promo-cart--materials.svg");
    background-position: 213px 31px;
  }

  &--instrument {
    background-color: var(--color-blue-01);
    background-image: url("../img/promo-cart--instrument.svg");
    background-position: 194px 34px;
  }

  &--technics {
    background-color: var(--color-purple-01);
    background-image: url("../img/promo-cart--technics.svg");
    background-position: 191px 31px;
  }

  &--discount {
    background-color: var(--color-green-01);
    background-image: url("../img/promo-cart--discount.svg");
    background-position: 196px 26px;
  }

  &--delivery {
    background-color: var(--color-yellow-02);
    background-image: url("../img/promo-cart--delivery.svg");
    background-position: 191px 32px;
  }
}

.promo-cart__title {
  margin: 0;
  padding: 0;
  padding-bottom: 13px;

  color: var(--color-white-01);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25em;
}

.promo-cart__link {
  display: block;
  box-sizing: border-box;
  padding: 10px 0;
  max-width: 135px;

  color: var(--color-white-01);
  font-size: 14px;
  line-height: 1.3em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  background-color: var(--color-white-a-04);

  &:hover,
  &:focus {
    background-color: var(--color-white-a-05);
  }

  &:active {
    background-color: var(--color-white-a-06);
  }
}
