.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-list__link {
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 50%;

  color: white;
  vertical-align: middle;

  background-color: var(--color-blue-05);
  background-repeat: no-repeat;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    background-color: var(--color-red-01);
  }

  &--vkontakte {
    background-image: url("../img/footer-contacts__vk-icon.svg");
    background-position: 8px 13px;
  }

  &--facebook {
    background-image: url("../img/footer-contacts__fb-icon.svg");
    background-position: 15px 10px;
  }

  &--instagram {
    background-image: url("../img/footer-contacts__insta-icon.svg");
    background-position: 10px 10px;
  }
}
