.brands {
  padding-bottom: 50px;
}

.brands__title {
  margin-bottom: 19px;
  padding-right: 19px;
}

.brands__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: -20px;
  padding: 0;

  list-style: none;
}

.brands__item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.brands__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
  box-sizing: border-box;
  border: 1px solid #eaeaea;

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px var(--color-black-a-03);

  }

  &:active {
    opacity: 0.5;

    box-shadow: 0px 4px 20px var(--color-black-a-02);
  }
}
