.btn-uc {
  position: relative;

  min-width: 150px;
  padding: 9px 0;
  box-sizing: border-box;

  color: var(--color-white-01);
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  line-height: 24px;

  &:hover,
  &:focus {
    background-color: var(--color-blue-05);
  }

  &:active {
    color: var(--color-white-a-02);
    background-color: var(--color-blue-07);
  }

  &--with-icon {
    padding-left: 20px;

    &:hover,
    &:focus {
      .btn-uc__icon {
        color: var(--color-white-a-01);
      }
    }

    &:active {
      .btn-uc__icon {
        color: var(--color-white-a-03);
      }
    }
  }

  &--buy {
    background-color: var(--color-green-02);

    &:hover,
    &:focus {
      background-color: var(--color-green-03);
    }

    &:active {
      color: var(--color-white-a-02);

      background-color: var(--color-green-02);
    }
  }

}

.btn-uc__icon {
  position: absolute;

  color: var(--color-white-a-03);
}

.btn-uc__icon--bookmark {
  top: 12px;
  left: 20px;
}

.btn-uc__icon--basket {
  top: 12px;
  left: 26px;
}
