.btn-uc {
  position: relative;

  min-width: 150px;
  padding: 9px 0;
  box-sizing: border-box;

  color: var(--color-02);
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  line-height: 24px;

  &:hover,
  &:focus {
    background-color: #212a3a;
  }

  &:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #161D29;
  }

  &--with-icon {
    padding-left: 20px;

    &:hover,
    &:focus {
      .btn-uc__icon {
        color: rgba(255, 255, 255, 1.0);
      }
    }

    &:active {
      .btn-uc__icon {
        color: rgba(255, 255, 255, 0.3);
      }
    }
  }

  &--buy {
    background-color: #63A63E;

    &:hover,
    &:focus {
      background-color: #5FBB2D;
    }

    &:active {
      color: rgba(255, 255, 255, 0.5);

      background-color: #63A63E;
    }
  }

}

.btn-uc__icon {
  position: absolute;

  color: rgba(255, 255, 255, 0.3);
}

.btn-uc__icon--bookmark {
  top: 12px;
  left: 20px;
}

.btn-uc__icon--basket {
  top: 12px;
  left: 26px;
}
