.btn-services {
  display: block;
  box-sizing: border-box;
  padding: 18px 22px 20px;

  color: var(--color-white-01);
  font-size: 21px;
  font-weight: 700;
  text-transform: none;
  text-align: start;

  cursor: pointer;
  background-color: var(--color-blue-03);
  box-shadow: inset 0 1px 0 var(--color-blue-04), inset 0 2px 0 var(--color-blue-02);
  border: none;

  &:hover,
  &:focus {
    color: var(--color-white-01);
    background-color: var(--color-blue-04);
  }

  &:active {
    color: var(--color-white-a-02);
    background-color: var(--color-blue-06);
  }

  &--active {
    color: var(--color-blue-03);
    background-color: var(--color-white-01);
    box-shadow: none;

    &:hover,
    &:focus {
      color: var(--color-blue-03);
      background-color: var(--color-white-01);
    }
  }
}
