.btn-logo {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 13px;
  min-width: 220px;

  text-align: center;
  color: var(--color-02);

  background-color: #ee3643;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);

  &:hover:not(&--active),
  &:focus:not(&--active) {
    background-color: #ca2c37;
  }

  &:active:not(&--active) {
    background-color: #ba2732;
  }
}
