.btn-user-controls {
  position: relative;

  min-width: 150px;
  padding: 9px 0;
  box-sizing: border-box;

  color: var(--color-white-01);
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.33em;

  &:hover,
  &:focus {
    background-color: var(--color-blue-05);

    &::before {
      opacity: 1.0;
    }
  }

  &:active {
    color: var(--color-white-a-02);
    background-color: var(--color-blue-07);

    &::before {
      opacity: 0.3;
    }
  }

  &--bookmark {
    padding-left: 44px;

    text-align: left;

    &::before {
      position: absolute;
      top: 12px;
      left: 20px;
      content: url("../img/icon-bookmark.svg");

      opacity: 0.3;
    }
  }

  &--basket {
    padding-left: 49px;

    text-align: left;

    &::before {
      position: absolute;
      top: 11px;
      left: 26px;
      content: url("../img/icon-basket.svg");

      opacity: 0.3;
    }
  }

  &--checkout {
    background-color: var(--color-green-02);

    &:hover,
    &:focus {
      background-color: var(--color-green-03);
    }

    &:active {
      color: var(--color-white-a-02);

      background-color: var(--color-green-02);
    }
  }

  &--not-zero {
    background-color: var(--color-red-01);

    &:hover,
    &:focus {
      background-color: var(--color-red-01);
    }

    &:active {
      color: var(--color-white-a-02);

      background-color: var(--color-red-03);
    }
  }
}
