.btn-user-controls {
  position: relative;

  min-width: 150px;
  padding: 9px 0;
  box-sizing: border-box;

  color: var(--color-white-01);
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.33em;

  &:hover,
  &:focus {
    background-color: var(--color-blue-05);
  }

  &:active {
    color: var(--color-white-a-02);
    background-color: var(--color-blue-07);
  }

  &--with-icon {
    padding-left: 50px;

    text-align: left;

    &:hover,
    &:focus {
      .btn-user-controls__icon {
        color: var(--color-white-a-01);
      }
    }

    &:active {
      .btn-user-controls__icon {
        color: var(--color-white-a-03);
      }
    }
  }

  &--checkout {
    background-color: var(--color-green-02);

    &:hover,
    &:focus {
      background-color: var(--color-green-03);
    }

    &:active {
      color: var(--color-white-a-02);

      background-color: var(--color-green-02);
    }
  }

  &--not-zero {
    background-color: var(--color-red-01);

    &:hover,
    &:focus {
      background-color: var(--color-red-01);
    }

    &:active {
      color: var(--color-white-a-02);

      background-color: var(--color-red-03);
    }
  }
}

.btn-user-controls__icon {
  position: absolute;
  top: 0;
  left: 0;

  color: var(--color-white-a-03);
}

.btn-user-controls__icon--bookmark {
  top: 12px;
  left: 20px;
}

.btn-user-controls__icon--basket {
  top: 12px;
  left: 20px;
}
