.btn-user-nav {
  position: relative;

  display: block;
  min-height: 45px;
  padding: 13px 27px;
  box-sizing: border-box;

  color: var(--color-black-01);
  text-decoration: none;
  text-align: center;
  font-size: 21px;

  background-color: var(--color-white-01);

  &:hover,
  &:focus {
    color: var(--color-red-01);

    .btn-user-nav__icon {
      color: var(--color-blue-08);
    }
  }

  &:active {
    color: var(--color-white-05);

    .btn-user-nav__icon {
      color: var(--color-white-05);
    }
  }

  &--login {
    padding-left: 46px;
    padding-right: 27px;
  }

  &--register {
    padding-left: 24px;
    padding-right: 24px;
  }

  &--profile {
    padding-left: 56px;
    padding-right: 7px;
  }

  &--logout {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.btn-user-nav__icon {
  position: absolute;
  top: 0;
  left: 0;

  color: var(--color-white-05);

  &--login {
    top: 14px;
    left: 19px;
  }

  &--profile {
    top: 14px;
    left: 15px;
  }

  &--logout {
    top: 14px;
    left: 11px;
  }
}
