.btn-logo {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 13px;
  min-width: 220px;

  text-align: center;
  color: var(--color-white-01);

  background-color: var(--color-red-01);
  box-shadow: inset 0px -5px 0px var(--color-black-a-03);

  &:hover:not(&--active),
  &:focus:not(&--active) {
    background-color: var(--color-red-02);
  }

  &:active:not(&--active) {
    background-color: var(--color-red-03);
  }
}
