.btn {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;

  color: var(--color-white-01);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  background-color: var(--color-red-01);
  border: none;

  &:hover,
  &:focus {
    background-color: var(--color-red-02);
  }

  &:active {
    background-color: var(--color-red-03);
  }
}

.btn--bookmark {
  display: block;
  padding: 7px;
  width: 135px;
  border: 3px solid var(--color-green-02);
  border-radius: 2px;

  color: var(--color-blue-03);

  background-color: transparent;

  &:hover,
  &:focus {
    border: 3px solid var(--color-blue-03);
    background-color: transparent;
  }

  &:active {
    opacity: 0.5;
    background-color: transparent;
  }
}

.btn--buy {
  position: relative;

  display: block;
  padding: 10px;
  padding-left: 20px;
  width: 135px;
  border-radius: 2px;

  box-shadow: inset 0px -3px 0px var(--color-green-05);
  background-color: var(--color-green-02);

  &:hover,
  &:focus {
    background-color: var(--color-green-03);
  }

  &:active {
    background-color: var(--color-green-04);
    box-shadow: none;
  }

  &::before {
    position: absolute;
    content: url("../img/common__icon-basket.svg");
    top: 10px;
    left: 29px;

    opacity: 0.3;
  }
}

.btn--price {
  width: 141px;
  padding-left: 0px;

  font-family: $ptsans;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;

  background-color: transparent;
  background-image: url("../img/common__red-button.svg");

  &:hover,
  &:focus {
    background-color: transparent;
  }

  &:active {
    background-color: transparent;
  }
}

.btn--services {
  padding: 19px 22px 21px;

  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-transform: none;
  text-align: start;

  background-color: var(--color-blue-03);
  box-shadow: inset 0 1px 0 var(--color-blue-04), inset 0 2px 0 var(--color-blue-02);

  &:hover,
  &:focus {
    color: var(--color-white-01);
    background-color: var(--color-blue-04);
  }

  &:active {
    color: var(--color-white-a-02);
    background-color: var(--color-blue-06);
  }

  &--active {
    color: var(--color-blue-03);
    background-color: var(--color-white-01);
    box-shadow: none;

    &:hover,
    &:focus {
      color: var(--color-blue-03);
      background-color: var(--color-white-01);
    }
  }
}
