.btn {
  display: inline-block;
  padding: 10px 40px;
  // border-radius: 2px;
  box-sizing: border-box;

  color: #ffffff;
  font-family: $cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  background-color: #ee3643;
  border: none;

  &:active {
    background-color: #ba2732;
  }
}
