.btn {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;

  color: var(--color-white-01);
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  background-color: var(--color-red-01);
  border: none;

  &:hover,
  &:focus {
    background-color: var(--color-red-02);
  }

  &:active {
    background-color: var(--color-red-03);
  }
}

.btn--light {
  color: var(--color-black-01);
  background-color: var(--color-white-01);

  &:hover,
  &:focus {
    color: var(--color-red-01);
    background-color: var(--color-white-01);
  }

  &:active {
    color: var(--color-white-05);
  }
}
