.footer-nav {
  padding-bottom: 54px;

  color: var(--color-white-01);
  font-size: 18px;
  line-height: 1.35em;

  background-color: var(--color-blue-03);
}

.footer-nav__container {
  display: flex;
  justify-content: space-between;
}

.footer-nav__logo-address {
  width: 350px;
}

.footer-nav__site-store {
  width: 567px;
}

.footer-nav__logo {
  min-height: 63px;
  margin-bottom: 28px;
}

.footer-nav__address {
  font-style: normal;
  padding-left: 3px;
}

.footer-nav__site-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-top: 32px;
  padding: 0;

  list-style: none;
}

.footer-nav__store-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-top: 22px;
  margin-left: 23px;
  padding: 0;

  list-style: none;
}

.footer-nav__item {}

.footer-nav__lnk {
  display: block;
  margin-left: 20px;
  padding: 6px 0;

  color: var(--color-white-04);
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;
    opacity: 0.5;
  }
}

.footer-nav__lnk--store {
  color: var(--color-yellow-01);
}
