.footer-contacts {
  padding-top: 36px;
  padding-bottom: 29px;

  color: var(--color-white-01);

  background-color: var(--color-blue-04);
}

.footer-contacts__container {
  display: flex;
}

.footer-contacts__copyright {
  margin: 0;
  margin-right: 90px;
  width: 300px;

  font-size: 16px;
  line-height: 18px;
}

.footer-contacts__socials {
  width: 132px;
  margin: 0;
  margin-right: 119px;
  margin-top: -1px;
}


.footer-contacts__email {
  width: 150px;
  margin: 0;
  margin-right: auto;
}

.footer-contacts__developed {
  width: 111px;
  margin: 0;
}

.footer-contacts__link {
  color: var(--color-yellow-01);
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:active {
    color: var(--color-red-01);
    text-decoration: none;
  }
}
