.modal-basket {
  width: 620px;
}

.modal-basket__title {
  position: relative;

  margin: 73px 0;

  text-align: center;

  &::before {
    position: absolute;
    top: -25px;
    left: 81px;
    content: url("../img/modal-basket__icon-mark.svg");
  }
}

.modal-basket__checkout {
  width: 192px;
  margin-right: 8px;
}

.modal-basket__continue {
  width: 192px;
}
