.modal-map {
  width: 943px;
  min-height: 449px;
}

.modal-map__img-container {
  position: relative;
  margin: 0;
}

.modal-map__interactive {
  position: absolute;
  top: 0;
  left: 0;

  border: none;
}

.modal-map__img {
  vertical-align: top;
}
