.promo-slider {
  min-width: 620px;
  min-height: 266px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 24px;
  padding-right: 23px;
  width: 300px;
  box-sizing: border-box;

  color: var(--color-white-01);

  background-color: var(--color-blue-03);
  background-image:
    linear-gradient(to bottom, var(--color-black-a-03) 105px, var(--color-black-a-01) 105px);

  &--drills {
    background-image:
      linear-gradient(to bottom, var(--color-black-a-03) 105px, var(--color-black-a-01) 105px),
      url("../img/features__drills.jpg");
  }

  &--perforators {
    background-image:
      linear-gradient(to bottom, var(--color-black-a-03) 105px, var(--color-black-a-01) 105px),
      url("../img/features__perforators.jpg");
  }

  &--hidden {
    display: none;
  }
}

.promo-slider__title {
  margin: 9px 0 15px;

  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.promo-slider__desc {
  margin: 0;
  padding: 0;
  padding-bottom: 112px;

  color: var(--color-white-01);
  font-size: 18px;
  line-height: 1.35em;
}

.promo-slider__btn {
  width: 192px;
}
