.site-nav {
  padding-bottom: 60px;
}

.site-nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 24px;
  padding-right: 19px;

  background-color: #32425c;
  box-shadow: inset 0px -5px 0px #293449;
  list-style: none;
}

.site-nav__item {
  flex-grow: 1;

  text-align: center;
}

.site-nav__link {
  display: block;
  padding-top: 17px;
  padding-bottom: 19px;

  color: #ffffff;
  font-family: $cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;

  &:hover:not(&--active),
  &:focus:not(&--active) {
    background-color: #293449;
  }

  &:active:not(&--active) {
    color: rgba(255, 255, 255, 0.5);
    background-color: #1D2739;
  }
}
