.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  min-height: 89px;
  padding: 22px;
  padding-left: 28px;
  padding-right: 14px;

  background-color: var(--color-white-02);
}

.title-bar__title {
  margin: 0;

  color: var(--color-blue-03);
  font-size: 30px;
  line-height: 1.2em;
  font-weight: 400;
  text-transform: uppercase;
}

.title-bar__button {
  min-width: 192px;
}
