.user-controls {
  background-color: #293449;
}

.user-controls__container {
  min-height: 42px;
  display: flex;
}

.user-controls__logo {
  margin-bottom: -5px;
}

.user-controls__search-form {
  display: flex;
  flex-grow: 1;

  &:hover,
  &:focus {
    background-color: #212a3a;
  }

  &:hover .user-controls__search-btn,
  &:focus .user-controls__search-btn {
    color: rgba(255, 255, 255, 1.0);
  }

  &:focus-within {
    background-color: #ffffff;

    &>.user-controls__search-btn {
      color: #ee3643;
    }

    &>.user-controls__search-input {
      color: #000;
    }
  }
}

.user-controls__search-btn {
  width: 28px;
  margin-left: 10px;
  margin-right: 2px;
  padding-top: 4px;

  color: rgba(255, 255, 255, 0.3);

  background-color: inherit;
  border: none;
}

.user-controls__search-input {
  flex-grow: 1;

  font-family: $cuprum;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;

  background-color: inherit;
  border: none;

  &::placeholder {
    color: #ffffff;
  }
}

.user-controls__bookmarks {
  margin-left: auto;
}
