.user-nav {
  margin-left: auto;
}

.user-nav__controls {
  display: none;

  &--visible {
    display: block;
  }
}

.user-nav__buttons {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;

  &--solid {
    background-color: var(--color-white-01);
  }
}

.user-nav__login {
  margin-right: 10px;
}

.user-nav__profile {
  margin-right: 2px;
}

.user-nav__logged-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;

  list-style: none;
}
