.user-controls {
  background-color: var(--color-blue-04);
}

.user-controls__container {
  min-height: 42px;
  display: flex;
}

.user-controls__logo {
  margin-bottom: -5px;
}

.user-controls__search-form {
  display: flex;
  flex-grow: 1;

  &:hover,
  &:focus {
    background-color: var(--color-blue-05);
  }

  &:hover .user-controls__search-btn,
  &:focus .user-controls__search-btn {
    color: var(--color-white-a-01);
  }

  &:focus-within {
    background-color: var(--color-white-01);

    &>.user-controls__search-btn {
      color: var(--color-red-01);
    }

    &>.user-controls__search-input {
      color: var(--color-black-01);
    }
  }
}

.user-controls__search-btn {
  width: 28px;
  margin-left: 10px;
  margin-right: 2px;
  padding-top: 4px;

  color: var(--color-white-a-03);

  background-color: inherit;
  border: none;
}

.user-controls__search-input {
  flex-grow: 1;

  color: var(--color-white-01);
  font-size: 18px;
  line-height: 24px;

  background-color: inherit;
  border: none;

  &::placeholder {
    color: var(--color-white-01);
  }
}

.user-controls__bookmarks {
  margin-left: auto;
}
